/* ----------------------------- */
/* PRODUCT PAGE AND CHECKOUT BOX */
/* ----------------------------- */

/* Center the Amount Title */
body #product_detail .amount_title {
    text-align: center;
}

/* Reset the price donate input */
body .price_donate .form-control {
    font-size: 4vw;
    padding: inherit;
    color: inherit;
    text-align: inherit;
}

/* Add some space between donation buttons and input on small layout */
span.price_donate_suggested_outer {
    display: inline-block;
     margin-bottom: 12px;
}

/* Lower the checkoutbox to match the content on the left side */
body #wsd-checkout-box {
    margin-top: 16px;
}

/* Add some space between the text and the interval selection */
.payment_interval_ids div.form-group{
    margin-top: 12px;
}

/* SPENDENBOX */
.price_donate .input-group-addon {
    min-width: auto !important;
}
body .price_donate .form-control {
    text-align: center;
    font-size: 16px;
}
h4.payment_interval_ids.payment_interval_lines_ids.text-left {
    text-align: center;
}
.btn.btn-lg.btn-default.price_donate_suggested {
    background-color: #f8f8f8;
}
/* ---- */
/* CART */
/* ---- */
.fa-shopping-cart:before {
    /*content: "\f06c";*/
    content: "\f184";
}

/* --------------- */
/* STEPS INDICATOR */
/* --------------- */

/* Full width and Buttons below */
ul.checkout_steps_indicator {
    width: 100%;
}
div.checkout_steps_buttons {
    width: 100%;
    text-align: right;
    margin-top: 0;
}
.checkout_steps_navigation {
    display: none;
}

/* -------- */
/* CHECKOUT */
/* -------- */
/*#wsd_checkout_form label.control-label.mandatory.text-danger {*/
/*    color: #b50227;*/
/*}*/
/*#wsd_checkout_form label.control-label.mandatory.text-danger:after {*/
/*    content: " *";*/
/*}*/
#wsd_checkout_form .form-control-feedback {
    top: 23px !important;
}
/* Hide Login Button */
#wsd_checkout_steps_nav > div > div > a.btn.btn-primary.navbar-btn {
  display: none;
}

/* ONE PAGE CHECKOUT */
/* ----------------- */
/* Hide delivery section TODO: Should be done by xml */
/*.row .wsd_opc_delivery {*/
/*    display: none;*/
/*}*/

/*.ppt_opc h3.amount_title {*/
/*    text-align: center;*/
/*}*/


/* ------- */
/* PAYMENT */
/* ------- */
/*#payment_method .acquirer_pre_msg p {*/
/*    padding: 8px;*/
/*}*/

/*!* BIC ausblenden TODO: Must be done by xml! *!*/
#aq2 > div:nth-child(6) {
    display: none;
}

/*!* E-Mail billing_address email ausblenden TODO: maybe not needed if renamed to "Ihre Angaben" *!*/
/*.wsd_payment_page_content .payment_billing_address .billing_address .email {*/
/*    display: none;*/
/*}*/

/*!* Hide Checkbox for Zahlschein payment method *!*/
/*#payment_method .do_not_send_payment_forms {*/
/*    display: none;*/
/*}*/

/* PAYMENT METHODS
 */
#payment_method > div > ul > li {
    font-size: 14px;
}

#payment_method > div > ul > li:first-child {
    text-align: left;
    width: 100%;
    font-size: 24px;
}

/* Payment Tabs */
/* ------------ */

#payment_method .nav > li > a {
    padding: 5px 5px;
}
#payment_method .nav.nav-tabs li.active a {
    background-color: #E3E3E3;
}
#payment_method .nav.nav-tabs li.active a:hover {
    background-color: #E3E3E3;
}
#payment_method .nav > li {
    /*min-width: 100px;*/
}
#payment_method .nav > li > a {
    padding: 5px 5px;
    text-align: left;
}
#payment_method .nav > li > a img {
    margin: 0 auto;
    width: 60px;
    height: 43px;
}
#payment_method .nav-tabs > li.active > a,
#payment_method .nav-tabs > li.active > a:hover,
#payment_method .nav-tabs > li.active > a:focus {
    color: black;
}


/* ---------------- */
/* ACQUIRER BUTTONS */
/* ---------------- */

/*[data-name='ogonedadi-submit-button'],*/
/*[data-name='frst-submit-button'] {*/
/*    max-width: 100%;*/
/*}*/
.price_donate_suggested_currency {
    display: none !important;
}

/* ---------------- */
/* TRALALOBE CUSTOM von Michael Holzgruber */
/* ---------------- */

.checkout_title {
    display: none;
}
.oe_cart.small_cart {
    font-family: "lft-etica", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
th {
    font-weight: 300;
}
#add_to_cart {
    margin-top: 9px !important;
}
.tab-content {
    min-height: 95px;
}

/* ---------------- */
/* TRALALOBE BOOTSTRAP CUSTOM von Michael Holzgruber */
/* ---------------- */

.container {
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 722px) {
  .container {
    width: 722px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
}
.text-danger {
  color: #000000;
  background: #C1DEBB;
}
label {
  font-weight: 300;
  font-size: 13px;
}
.nav {
  margin-bottom: 7px;
}
.form-control {
  color: #000000;
}
.col-md-push-8 {
    left: 64%;
}
