/* ------------------- */
/* SHOP CATEGORY PAGES */
/* ------------------- */

/* Hide category navigation menu and regain full width */
/* --------------- Unsere spenden -------------- */
/*
body[data-rootcatid="1"] #products_grid_before {
    display: none
}
*/
/*
body[data-rootcatid="1"] .oe_product .oe_grid .oe-height-2 {
    margin-right: 10px;
}
*/
/*
body[data-rootcatid="1"] .oe_website_sale .products_pager .input-group {
    display: none;
}*/
body[data-rootcatid="1"] #products_grid .oe_product {
    width: 213px;
    height: 213px;
    margin-right: 4px;
}
body[data-rootcatid="1"] #products_grid_before.col-md-3 {
    width: 100%
}
body[data-rootcatid="1"] #products_grid.col-md-9 {
    width: 100%;
}
body[data-rootcatid="1"] #products_grid .oe_product {
    /*padding: 3px;*/
}
body[data-rootcatid="1"] .oe_product.oe_grid  {
    border: 2px dashed gray;
    border-radius: 50%;
}
body[data-rootcatid="1"] .oe_product .oe_product_cart {
    border: 4px solid white;
    background-color: #feed01;
    border-radius: 50%;
}
body[data-rootcatid="1"]  #products_grid > table > tbody > tr > td > div > form > div > section > h5 {
    /*transform-origin: 0 0;*/
    /*transform: rotate(-25deg);*/
    font-size: 28px;
    font-family: 'Damion', cursive;
    margin-bottom: 28%;
}

body[data-rootcatid="1"] .oe_product_image img {
    display: none;
}
body[data-rootcatid="1"]  .oe_product section {
    background: none;
    text-align: center;
    overflow: unset;
}
body[data-rootcatid="1"] .fa-shopping-cart:before {
    content: "\f07a";
}
body[data-rootcatid="1"] .btn.btn-default.btn-xs.fa.fa-shopping-cart.a-submit {
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    border: none;
}
body[data-rootcatid="1"] .oe_product .product_price a.a-submit {
    margin-left: initial;
}
body[data-rootcatid="1"] .product_price.text-primary {
    color: black;
}

body[data-rootcatid="1"]  .oe_product section .product_price.text-primary {
    /*margin-left: 70px;*/
    width: 100%;

}
