/*
    ==============
    drop_in_button
    ==============
*/
#emailBody span.drop_in_button a,
#emailBody span.drop_in_button a:visited {
    border-radius: 0px;
    background-color: #FFEE00;
    border: 1px solid #000000;
    color: black;
    font-weight: bold;
    /* outlook test   */
    /*padding: 0;*/
    /*border-top-width: 0.5em;*/
    /*border-right-width: 1em;*/
    /*border-bottom-width: 0.5em;*/
    /*border-left-width: 1em;*/
}

/* BUTTON SIZE */
#emailBody span.drop_in_button.dadi_di_button_medium,
#emailBody span.drop_in_button.dadi_di_button_medium a {
    font-size: 18px;
    border-radius: 0px;
    /* outlook test   */
    /*padding: 0;*/
    /*border-top-width: 0.6em;*/
    /*border-right-width: 2em;*/
    /*border-bottom-width: 0.6em;*/
    /*border-left-width: 2em;*/
}
/* only for Banner Style */
#combinedheadersnippet.snippet_block_text_image_left span.drop_in_button.dadi_di_button_large,
#combinedheadersnippet.snippet_block_text_image_left span.drop_in_button.dadi_di_button_large a {
    font-size: 20px;
    border-raidius: 0px;
}

#emailBody span.drop_in_button.dadi_di_button_large,
#emailBody span.drop_in_button.dadi_di_button_large a {
    font-size: 20px;
    border-radius: 0px;
}
#emailBody span.drop_in_button.dadi_di_button_large a {
    padding: 0.75em 3.5em;
    /* outlook test   */
    /*padding: 0;*/
    /*border-top-width: 0.75em;*/
    /*border-right-width: 3.5em;*/
    /*border-bottom-width: 0.75em;*/
    /*border-left-width: 3.5em;*/
}

#emailBody span.drop_in_button.dadi_di_button_huge,
#emailBody span.drop_in_button.dadi_di_button_huge a {
    font-size: 20px;
    border-radius: 0px;
}
#emailBody span.drop_in_button.dadi_di_button_huge a {
    padding: 0.8em 4.5em;
    /* outlook test   */
    /*padding: 0;*/
    /*border-top-width: 0.8em;*/
    /*border-right-width: 4.5em;*/
    /*border-bottom-width: 0.8em;*/
    /*border-left-width: 4.5em;*/
}


/* BUTTON COLOR */
#emailBody span.drop_in_button.dadi_di_button_transparent a:visited,
#emailBody span.drop_in_button.dadi_di_button_transparent a {
    border-radius: 0;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
#emailBody span.drop_in_button.dadi_di_button_black a:visited,
#emailBody span.drop_in_button.dadi_di_button_black a {
    background-color: #000000;
    color: white;
}
#emailBody span.drop_in_button.dadi_di_button_green a:visited,
#emailBody span.drop_in_button.dadi_di_button_green a {
    background-color: #C1DEBB;
    border-color: #C1DEBB;
    color: black;
}
#emailBody span.drop_in_button.dadi_di_button_yellow a:visited,
#emailBody span.drop_in_button.dadi_di_button_yellow a {
    background-color: #FFEE00;
    color: #black;
}
#emailBody span.drop_in_button.dadi_di_button_red a:visited,
#emailBody span.drop_in_button.dadi_di_button_red a {
    background-color: red;
    color: white;
}
#emailBody span.drop_in_button.dadi_di_button_blue a:visited,
#emailBody span.drop_in_button.dadi_di_button_blue a {
    background-color: #364979;
    color: white;
    border-color: #364979;
}
#emailBody span.drop_in_button.dadi_di_button_orange a:visited,
#emailBody span.drop_in_button.dadi_di_button_orange a {
    background-color: #f49800;
    color: white;
    border-color: #f49800;
}
#emailBody span.drop_in_button.dadi_di_button_pink a:visited,
#emailBody span.drop_in_button.dadi_di_button_pink a {
    background-color: #b32986;
    color: white;
    border-color: #b32986;
}



/* .tral_di_button_width_full */
#emailBody span.drop_in_button.tral_di_button_width_full {
    display: block;
    width: 100%;
    text-align: center;
}
#emailBody span.drop_in_button.tral_di_button_width_full a {
    display: block;
    width: initial;
}
